.header {
  &__wrapper{
  display: flex;
  height: 88px;
  margin-left: 16px;
  margin-right: 16px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #41f6d7;
  background-color: $decoration-color-2;
  }

  .icon:nth-child(1),
  .icon:nth-child(2),
  .icon:nth-child(3) {
    margin-right: 4px;
  }

  .image {
    margin-right: -25px;
  }

  &__icon-wrapper {
    display: flex;
    margin-left: 10px;

    &--main-logo {
      flex-grow: 1;
    }
  }

  &--repair {
    margin-right: 16px;
  }

  &--contacts {
    display: none;
  }

  &--repair {
    &::before {
      content: '';
      margin: auto 20px auto 4px;
      position: relative;
      left: 15px;
      display: block;
      width: 2px;
      height: 32px;
      background-color: $decoration-color-4;
    }
  }
}
