@media screen and (min-width: 1000px) {
  .desctop {
    
    &__slide {
      &--image {
        width: 224px;
      }
    }
    &__content {
      justify-content: flex-start;
      flex-wrap: wrap;
      max-width: 1050px;
      margin: 0 auto;
      &--click {
        max-height: 413px;
        overflow: hidden;
        transition: all 0.5s;
      }
    }
  }
}
