@media screen and (min-width: 1366px) {

  .overlay {
   
    &--active {
     z-index: 11;
    }
  }

  .header {
    display: none;
  }

  .content{
    &__header{
      display: flex;
      justify-content: space-between;
      margin-left: 30px;
      margin-right: 30px; 
      
      &::before {
      content: '';
      position: absolute;
      left: -30px;
    }
    }
   
    &__navigation{
      display: flex;
      gap: 20px;
    }
  
    &__icon-repair,
    &__icon-checkstatus{
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .desctop {
    &__content {
      margin: 23px auto 0px auto;
    }
  }

  .sidebar {
    &__wrapper {
      box-shadow: none;
      position: fixed;
    }
    &__image{
      margin: 0;
    }
    &__btn-close {
      display: none;
    }
  }

  
  .page {
    &__wrapper {
      padding-left: 320px;
    }
  }

  .modal {
    
    &__btn {
      position: absolute;
      right: 469px;
      top: 8px;
    }

    &__wrapper {
      z-index: 12;
      &--active {
        width: 440px;
      }
    }
  }
}
