@media screen and (min-width: 1440px) {
  .header {
    display: none;
  }
  
  .sidebar { 
    &__wrapper{
    box-shadow: none;
    position: fixed;
    }

    &__btn-close {
      display: none;
    }
  }
  
  .page {
    padding-left: 320px;
  }

}
