@media screen and (min-width: 768px) {
  .header {
    &--contacts {
      display: flex;
    }

    &__first-part {
      padding-left: 24px;
    }

    &__second-part{
      padding-right: 24px;
    }

    &__icon-wrapper {
      &--main-logo {
        &::before {
          content: '';
          margin: auto 10px;
          position: relative;
          display: block;
          width: 2px;
          height: 32px;
          background-color: $decoration-color-4;
        }
      }
    }
  }

  .about {
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 25px 25px 0;
      max-width: 1300px;
    }

    &__wrapper {
      width: 48%;
      padding: 0;
    }

    &__image {
      width: 48%;
      margin-top: 0;
      padding-bottom: 0;
    }
  }

  .services {
    &__list {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    }
    &__list-item {
      margin-left: 22px;
    }
  }

  .swiper {
    display: none;
  }

  .chapter {
    &__header {
      padding: 16px 0;
    }

    &__wrapper{
      padding: 25px 25px 0;
    }
    &__tax{
      padding: 24px 0 16px;
    }

    &__commercial {
      &--link {
        padding: 0px;
      }
    }

    .read-more {
      display: inline-block;
      margin-top: 10px;
    }
  }

  .desctop {
    display: flex;
    
    &__slide {
      width: 224px;
    }
    
    &__content {
      margin: 23px 0 10px;
      max-width: 1000px;
      max-height: 174px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 20px;
      overflow: hidden;
      transition: 0.5s;

      &--click {
        max-height: 500px;
        overflow: auto;
        transition: all 0.5s;
      }
    }
  }

  .price {
    &__wrapper {
      display: block;
      margin: 0 auto;
      border-radius: 50px;
      max-width: 1250px;
    }

    &__item {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 65px;
      padding-left: 16px;
      padding-right: 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      background-color: $decoration-color-2;

      
      &:not(:first-child) {
        &:not(:last-child) {
          &:after {
            content: '';
            z-index: 10;
            width: 97%;
            height: 1px;
            position: absolute;
            left: 15px;
            bottom: 0;
            background-color: $decoration-color-4;
          }
        }
      }
      
      &--content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        span {
          display: inline-block;
        }

        span:first-child {
          min-width: 348px;
          margin-right: 24px;
        }

        span:nth-child(2) {
          min-width: 74px;
          margin-right: 22px;
        }
      }
    }

    &__grey {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #7e7e82;
      mix-blend-mode: normal;
      opacity: 0.72;
      background-color: $decoration-color-5;
      width: 100%;

      &--content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;

        span:first-child {
          position: relative;
          min-width: 326px;
          left: 15px;
        }
      }
    }
  }

  .footer {
    &__wrapper {
      padding-top: 40px;
    }

    &__items {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      &--text {
        &:last-child {
          text-align: end;
          max-width: 300px;
        }
        &:first-child {
          text-align: start;
        }
      }
    }
  }

  .modal {
    &__wrapper {
      z-index: 12;
      &--active {
        width: 440px;
      }
    }
    
    &__header {
          padding-top: 40px;
          padding-left: 32px;
          &:before {
            content: '';
            position: absolute;
            left: 1px;
            top: 48px;
          }
        }

    &__btn {
      position: absolute;
      right: 472px;
      top: 20px;
    }
  }

  .form {
    &__wrapper {
      display: flex;
      flex-direction: column;
      padding-left: 32px;
      padding-right: 32px;
      padding-bottom: 20px;
    }
  }

}
