@media screen and (min-width: 1000px) {

  .about{
    &__content{
      max-width: 1439px;
    }
  }

  .desctop {
    &__slide {
      &--image {
        width: 224px;
        padding-left: 25px;
      }
    }
    &__content {
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 20px;
      max-width: 1050px;
      margin: 23px auto 0px auto;
      max-height: 157px;
      &--click {
        max-height: 413px;
        overflow: hidden;
        transition: all 0.5s;
      }
    }
  }
}
