@import './fonts';
@import './variables';
@import './header';
@import './content';
@import '../../node_modules/swiper/swiper.scss';
@import './swiper';
@import './larger320';
@import './larger768';




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'TT Lakes Medium';

    button {
        border: none;
        background: transparent;
      }
  }