@import './fonts';
@import './color';
@import './header';
@import './content';
@import '../../node_modules/swiper/swiper.scss';
@import './swiper';
@import './larger320';
@import './larger768';
@import './footer';
@import './sidebar';
@import './larger1000';
@import './larger1440';
@import './overlay';
@import './modal';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'TT Lakes Medium';
}

img:not(.about__group):hover {
  transform: scale(1.02);
  filter: drop-shadow(0px 4px 2px rgb(144, 144, 144));
  transition: 0.5s;
}

img:not(.about__group) {
  transition-duration: 0.5s;
  cursor: pointer;
  user-select: none;
}

.page {
  height: 100vh;
  width: 100%;
  background-color: $decoration-color-5;
  font-family: 'TT Lakes Medium';
  overflow-x: hidden;
  overflow-y: auto;
}
